/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}
.content h1 {
    text-align: center;
}

.content .content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
    color: inherit;
    font-weight: bold;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.table-filter tr td:first-child {
    width: 40px;
    text-align: center;
}
.table-filter .star {
    color: #F0AD4E;
    text-align: center;
}
.table-filter .badstar {
    color: #808080;
    text-align: center;
}
.table-filter .media-photo {
    width: 120px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.Video {
    color: #5cb85c;
}
.table-filter .media .title span.Audio {
    color: #f0ad4e;
}
.table-filter .media .title span.Document {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}
